@use '../abstracts/' as *;

html {
    font-size: 62, 5%;
    line-height: 1, 6rem;
    box-sizing: border-box;
    padding-left: 0px;
    font-family: sans-serif 'Roboto';
}

.grid {
    width: 1600px;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 7px;
}

.grid__fullgrid {
    width: 100%;

}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

/* Animation */

@keyframes ShowIn {
    from {
        opacity: 0;

        /* opacity: Do hien thi trong suot */
    }

    to {
        opacity: 1;
    }
}

/* modal */

.modal {
    position: fixed;
    top: 0%;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;

}

.modal__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
}

/* FORM  */
.modal-body {
    width: 500px;
    height: 500px;
    margin: auto;
    z-index: 1;
    background-color: gold;
    position: relative;
    border-radius: 5px;
}

.modal__inner {}

/* LOGIN/REGISTER */
.modal__form {}

.modal__form-container {
    padding: 0 32px;
    padding-bottom: 16px;
}

.modal__header {
    display: flex;
    justify-content: space-between;
}

.modal__header-item {
    position: relative;
    margin: 15px;
    font-size: 22px;
    font-weight: 400;
}

.modal__header-item.modal_form_switch {
    /*  */
    font-size: 19px;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;

}

.modal__loginform {}

.loginform_group {}

.loginform_input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: dashed;

}

.loginform_input:focus {
    border-color: #155111;
}

.modal-form__aside {
    margin-top: 20px;
    padding: 0 9px;
}

.modal-form__policy-text {
    font-size: 12px;
    text-align: center;
    /* padding-left: 0 12px; */

}

.modal-form__policy-Link {
    text-decoration: none;
    color: var(--primary-color);


}

.modal-form__control {
    margin-top: 80px;
    display: flex;
    justify-content: end;

}

/* BUTTON STYLE */
.btn {
    min-width: 142px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    padding: 0;
    background-color: white;

}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: white;
    margin-left: 8px;


}

.modal-form__social {
    padding: 16px 32px;
}

a.btn.btn--With-icon {
    min-width: 142px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 18px;

}