<!-- <footer class="footer">
  <div class="container">
    <div class="footer-container">
      <div class="list-footer">
        <div class="footer-logo">
          <include src="components/logo.html">
          </include>
        </div>
        <div class="footer-address">
          <address> 10:45AM </address>
          <address> E138°00'N36°00'</address>
        </div>
      </div>
      <div class="list-footer">
        <include src="components/list-footer.html" locals='{
                          "list": "[`History`,`Menu`, `Trip`, `Map`]",
                          "classList": "footer-item",
                          "classLink": "footer-text"
                        }'></include>
      </div>
      <div class="list-footer">
        <include src="components/list-footer.html" class="footer-lightcolor" locals='{
                                  "list": "[`Instagram`,`Telegram`, `Youtube`, `Twitter`]",
                                  "classList": "footer-item",
                                  "classLink": "footer-text"
                                }'></include>
      </div>
      <div class="list-footer">
        <div class="footer-logo">
          <include src="components/shopping-card.html">
          </include>
        </div>
        <div class="footer-address">
          <address> Thank you for choosing </address>
          <address> Emperor Restaurant</address>
        </div>
      </div>
    </div>
    <div class="footer-imagedown">
      <include src="components/list-image.html" locals='{
                                                                            "list": "[`/src/assets/images/main/footer/Image.png`]"
                                                                        }'>
      </include>
    </div>
  </div>
</footer> -->