<header class="header">
  <div class="grid">
    <nav class="navbar">
      <ul class="navbar-list">
        <li class="navbar-item navbar-item-qr--showqr navbar-item--modifier">Vào cửa hàng trên ứng dụng f8
          <!-- QR CODE> -->
          <div class="navbar-qr">
            <img src="./img/qr-code.png" alt="qr code" class="navbar-qr-img">
            <div class="navbar-qr-apps">
              <a href="" class="navbar-qr-apps-img">
                <img src="./img/Google_Play.png" alt="appdownload" class="navbar-qr-appsimg">
              </a>
              <a href="" class="navbar-qr-apps-img">
                <img src="./img/logo-app-store.png" alt="appstore" class="navbar-qr-appsimg">
              </a>
            </div>
          </div>

        </li>
        <li class="navbar-item">
          <span class="navbar-item-span--modifier">kết nối</span>
          <a href="facebook.com" class="navbar-icon-link">
            <i class="fa-brands fa-facebook"></i>
          </a>
          <a href="instagram.com" class="navbar-icon-link">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>


      </ul>
      <ul class="navbar-list">
        <li class="navbar-item navbar-item--showNotifybox">
          <a href="" class="navbar-item-link">
            <a href="google.com" class="navbar-icon-link">
              <i class="fa-solid fa-bell"></i>
            </a>
            Thông báo
          </a>
          <!-- NOTIFY -->
          <div class="notify-navbar">
            <header class="notify-header">
              <h4> thong bao moi nhan</h4>
            </header>
            <ul class="notify-item">
              <li class="notify-img notify-img--viewed">
                <a href="" class="notify-total">
                  <img
                    src="https://images.pexels.com/photos/4041392/pexels-photo-4041392.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    alt="" class="imgnoti">

                  <div class="notify-link">
                    <span class="notify-name">Phan bon NPk hieu dau bo chinh hang, thanh phan nhap khau chat luong
                      cao</span>
                    <span class="notify-debrs">Mo ta phan bon vo co chinh hang, cung cap chat dinh duong cao cap cho san
                      pham</span>
                  </div>
                </a>
              </li>
              <li class="notify-img notify-img--viewed">
                <a href="" class="notify-total">
                  <img
                    src="https://images.pexels.com/photos/4041392/pexels-photo-4041392.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    alt="" class="imgnoti">

                  <div class="notify-link">
                    <span class="notify-name">My pham chinh hang</span>
                    <span class="notify-debrs">Mo ta my pham chinh hang</span>
                  </div>
                </a>
              </li>
              <li class="notify-img notify-img--viewed">
                <a href="" class="notify-total">
                  <img
                    src="https://images.pexels.com/photos/4041392/pexels-photo-4041392.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    alt="" class="imgnoti">

                  <div class="notify-link ">
                    <span class="notify-name">My pham chinh hang</span>
                    <span class="notify-debrs">Mo ta my pham chinh hang</span>
                  </div>
                </a>
              </li>

            </ul>
            <footer class="notify-footer">
              <a href="" class="notyfy-footer-btn">Xem tat ca</a>
            </footer>



        </li>
        <li class="navbar-item">
          <a href="" class="navbar-icon-link">
            <i class="fa-solid fa-circle-question"></i>
          </a>
          Trợ giúp
        </li>
        <li class="navbar-item navbar-item--modifier navbar-item--bold ">Đăng ký</li>
        <li class="navbar-item navbar-item--bold ">Đăng nhập</li>
      </ul>
    </nav>

  </div>
</header>
